body {
  background: url('./assets/building-bg.png') no-repeat center center fixed;
  margin: 0;
  /*background-size: contain;*/
}

.App-header {
  /*background-color: #F0EC74;*/
  background-color: rgba(200,200,200,.9);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: white;
  text-align: center;
  padding: 2%; 
}

.App-link {
  color: #61dafb;
}

.logo-wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
}

.margin-logo {
  margin: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-wrapper {
  /*display: flex;*/
  align-items: center;
  /*flex-direction: column;*/
  justify-content: center;
  text-align: left;
  max-width: 700px;
  font-size: 19px;
  margin: 0 auto;
}

.logo {
  width: 33%;
}

p, h2 {
  color: #25282A;
  font-family: 'Libre Franklin',sans-serif;
}

button {
  padding: 13px;
  color: #0072CE;
  border-radius: 10px;
  border: 3px solid #0072CE;
  font-size: 17px;
}

button:hover {
  cursor: pointer;
  color: white;
  background: #0072CE;
} 

.hackathon-text {
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 25px;
  margin-top: 26%;
  padding-bottom: 10px;
  padding-top: 10px;
}

.hackathon-text p {
  padding: 0 30px;
}

.ReactModalPortal {
  font-size: 19px;
}

.near-booth-content {
  font-size: 23px;
  font-family: 'Libre Franklin',sans-serif;
}


.final-modal {
  position: absolute;
  /*top: 40px;*/
  /*left: 40px;*/
  /*right: 40px;*/
  /*bottom: 40px;*/
  height: 300px;
  width: 450px;  
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;  
  background-color: #ffffff;
}

.modal-close-button {
  float: right;
  padding: 5px 10px;
  border-radius: 20px;
}

/*.raffle-form-container {*/
  /*border-radius: 20px;*/
  /*padding: 10px;*/
  /*background-color: #fff;*/
/*}*/

.near-booth-overlay {
  border-radius: 20px;
  margin-top: -30px;
  padding-bottom: 60px;
}

.action-buttons {
  text-align: center;
}

.nearcat {
  position: absolute;
  bottom: -25px;
  right: 0;
  padding-right: 5px;
  width: 13%;
}

.nearcat-adjacent {
  max-width: 80%;
}

.near-booth-content > div {
  display: block;
  margin: 0 auto;
}

#raffle {
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: #fff;  
}